.grey-bg {
background-color: #f2f2f2 ;
width: 100%;
height: 100%;
}

.grey-title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #3E3E3E;
    font-weight: 700;
}
.white-form {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff ;
    padding: 2em;
    border-radius: 10px;
}

.spacer-10 {
    width: 16px;
    height: 16px;
}

.btn-ifood {
    border: none;
    background-color: #EA2F3C;
}

.bg-ifood {
    border: none;
    background-color: #EA2F3C;
}
